<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>SportsifyerTwo</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <nav><a href="/login"><img id="logo" src="/assets/img/mapbox-icon.png"/></a>
    <div class="navlink"><a id="loginButton" href="/login">Login</a></div>
    <div class="navlink"><a id="signupButton" href="/signup">Sign up</a></div>
    <div id="functionMessage" class='hidden'>
        <h3><span id="errorMessage"></span></h3>
    </div>
  </nav>
  
  <section id="content">

  </section>

  <script src="/assets/loginBundle.js"></script>
</body>
</html>
